body {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
}

.photo-card {
  display: block;
  width: 300px;
  text-decoration: none;
  color: black;
}

.photo-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.load-more,
.loader {
  margin-top: 20px;
}

.hidden {
  display: none;
}
